@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #aboutusimg {
    display: none;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .btn {
    margin: 5px;
  }
}



.logo-i {
  font-family: promorius;
  font-size: 20px;
  color: #000;
}

.logo {
  font-family: bariaki;
  font-size: 20px;
  color: #f60808;
}